*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.logo{
    width: 30%;
}
.nav-link{
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    color: green;
}

/* home section  */
.home{
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../Assets/bg.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140vh;
    color: white;
}
.h-text{
    padding-top: 15%;
    padding-left: 12%;
    width: 70%;
}
.h-text h6{
    color: gray;
    font-weight: 700;
}
.h-text h1{
    font-size: 70px;
    padding-top: 1%;
    padding-bottom: 10%;
}
.h-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 4%;
}

.h-icons a{
    text-decoration: none;
}

.h-icons a i{
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 20px;
    transition: all ease 1s;
}
.h-icons a i:hover{
    transform: rotate(360deg);
    background-color: white;
    color: black;
}

.h-last{
    position: absolute;
    top: 125%;
    right: 10%;
}
.h-last2{
    color: white;
    position: fixed;
    bottom: 8%;
    left: 3%;
}
.h-last2 i{
    color: white;
    font-size: 30px;
    background-color: green;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

@media screen and (max-width:430px){
    
    .home{
        width: 100%;
        height: 100vh;
    }
    .h-text{
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 0;
        padding-top: 30%;
    }
    .h-text h1{
        font-size: 30px;
    }
    .h-icons{
        display: none;
    }
    .h-text a{
        width: 100%;
        margin-top: 10px;
    }
    .h-icons{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 75%;
        right: 7%;
    }
    .h-last{
        position: absolute;
        top: 90%;
        right: 10%;
    }
}

@media (min-width:430px) and (max-width:930px){
    
    .home{
        width: 100%;
        height: 100vh;
    }
    .h-text{
        width: 80%;
        padding-top: 45%;
    }
    .h-text h1{
        font-size: 40px;
    }
    .h-last{
        position: absolute;
        top: 90%;
        right: 10%;
    }   
}

/* about section  */
.about{
    background-color: #39B54A;
    width: 100%;
    height: 120vh;
    padding-top: 10%;
}
.a-text{
    width: 70%;
    margin: auto;
    text-align: center;
}
.a-text h1{
    color: white;
    font-size: 80px;
    padding-bottom: 5%;
}
.a-text p{
    font-size: 25px;
    padding-top: 5%;
}

@media screen and (max-width:430px){
    .about{
        width: 100%;
        height: 180vh;
    }
    .a-text{
        width: 90%;
    }
    .a-text h1{
        font-size: 40px;
    }
    .about .container div{
        padding-top: 10px;
    }
}

@media (min-width:430px) and (max-width:930px){
    .about{
        width: 100%;
        height: 85vh;
    }
    
    .a-text{
        width: 80%;
    }
    .a-text h1{
        font-size: 60px;
    }
}

/* services section */
.service{
    width: 100%;
    height: 190vh;
    padding-top: 10%;
}
.s-text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.s-text h5{
    color: green;
}
.s-text h1{
    font-size: 50px;
}
.s-text hr{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.service i{
    color: green;
    padding-right: 20px;
    font-size: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width:430px){
    .service{
        width: 100%;
        height: 300vh;
    }
    .s-text{
        width: 90%;
    }
    .s-text h1{
        font-size: 40px;
    }
    .s-text hr{
        width: 90%;
    }
}

@media (min-width:430px) and (max-width:930px){
    .service{
        width: 100%;
        height: 135vh;
    }
    .s-text{
        width: 80%;
    }
    .s-text h1{
        font-size: 60px;
    }
}

/* client section */
.client{
    width: 100%;
    height: 100vh;
    background-color: #E6E6E6;
    padding-top: 10%;
}

.c-text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.c-text h5{
    color: green;
}
.c-text h1{
    font-size: 50px;
    padding-bottom: 10%;
}

.c-imgs img{
    width: 16%;
    opacity: 0.5;
    transition: all ease 1s;
}
.c-imgs img:hover{
    opacity: 0.9;
}

@media screen and (max-width:430px){
    .client{
        width: 100%;
        height: 100vh;
        padding-top: 15%;
    }
    .c-text{
        width: 90%;
    }
    .c-text h1{
        font-size: 40px;
        padding-bottom: 15%;
    }
    .c-imgs img{
        width: 30%;
    }
}

@media (min-width:430px) and (max-width:930px){
    .client{
        width: 100%;
        height: 100vh;
        padding-top: 15%;
    }
    .c-text{
        width: 80%;
    }
    .c-text h1{
        font-size: 60px;
        padding-bottom: 15%;
    }
    .c-imgs img{
        width: 30%;
    }
}