*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.logo{
    width: 30%;
}
.nav-link{
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    color: green;
}

/* home section  */
.home{
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../Assets/bg.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140vh;
    color: white;
}
.h-text{
    padding-top: 15%;
    padding-left: 12%;
    width: 70%;
}
.h-text h6{
    color: gray;
    font-weight: 700;
}
.h-text h1{
    font-size: 70px;
    padding-top: 1%;
    padding-bottom: 10%;
}
.h-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 4%;
}

.h-icons a{
    text-decoration: none;
}

.h-icons a i{
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 20px;
    transition: all ease 1s;
}
.h-icons a i:hover{
    transform: rotate(360deg);
    background-color: white;
    color: black;
}

.h-last{
    position: absolute;
    top: 125%;
    right: 10%;
}
.h-last2{
    color: white;
    position: fixed;
    bottom: 8%;
    left: 3%;
}
.h-last2 i{
    color: white;
    font-size: 30px;
    background-color: green;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

@media screen and (max-width:430px){
    
    .home{
        width: 100%;
        height: 100vh;
    }
    .h-text{
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 0;
        padding-top: 30%;
    }
    .h-text h1{
        font-size: 30px;
    }
    .h-icons{
        display: none;
    }
    .h-text a{
        width: 100%;
        margin-top: 10px;
    }
    .h-icons{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 75%;
        right: 7%;
    }
    .h-last{
        position: absolute;
        top: 90%;
        right: 10%;
    }
}

@media (min-width:430px) and (max-width:930px){
    
    .home{
        width: 100%;
        height: 100vh;
    }
    .h-text{
        width: 80%;
        padding-top: 45%;
    }
    .h-text h1{
        font-size: 40px;
    }
    .h-last{
        position: absolute;
        top: 90%;
        right: 10%;
    }   
}

/* about section  */
.about{
    background-color: #39B54A;
    width: 100%;
    height: 120vh;
    padding-top: 10%;
}
.a-text{
    width: 70%;
    margin: auto;
    text-align: center;
}
.a-text h1{
    color: white;
    font-size: 80px;
    padding-bottom: 5%;
}
.a-text p{
    font-size: 25px;
    padding-top: 5%;
}

@media screen and (max-width:430px){
    .about{
        width: 100%;
        height: 180vh;
    }
    .a-text{
        width: 90%;
    }
    .a-text h1{
        font-size: 40px;
    }
    .about .container div{
        padding-top: 10px;
    }
}

@media (min-width:430px) and (max-width:930px){
    .about{
        width: 100%;
        height: 85vh;
    }
    
    .a-text{
        width: 80%;
    }
    .a-text h1{
        font-size: 60px;
    }
}

/* services section */
.service{
    width: 100%;
    height: 190vh;
    padding-top: 10%;
}
.s-text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.s-text h5{
    color: green;
}
.s-text h1{
    font-size: 50px;
}
.s-text hr{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.service i{
    color: green;
    padding-right: 20px;
    font-size: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width:430px){
    .service{
        width: 100%;
        height: 300vh;
    }
    .s-text{
        width: 90%;
    }
    .s-text h1{
        font-size: 40px;
    }
    .s-text hr{
        width: 90%;
    }
}

@media (min-width:430px) and (max-width:930px){
    .service{
        width: 100%;
        height: 135vh;
    }
    .s-text{
        width: 80%;
    }
    .s-text h1{
        font-size: 60px;
    }
}

/* client section */
.client{
    width: 100%;
    height: 100vh;
    background-color: #E6E6E6;
    padding-top: 10%;
}

.c-text{
    width: 60%;
    margin: auto;
    text-align: center;
}
.c-text h5{
    color: green;
}
.c-text h1{
    font-size: 50px;
    padding-bottom: 10%;
}

.c-imgs img{
    width: 16%;
    opacity: 0.5;
    transition: all ease 1s;
}
.c-imgs img:hover{
    opacity: 0.9;
}

@media screen and (max-width:430px){
    .client{
        width: 100%;
        height: 100vh;
        padding-top: 15%;
    }
    .c-text{
        width: 90%;
    }
    .c-text h1{
        font-size: 40px;
        padding-bottom: 15%;
    }
    .c-imgs img{
        width: 30%;
    }
}

@media (min-width:430px) and (max-width:930px){
    .client{
        width: 100%;
        height: 100vh;
        padding-top: 15%;
    }
    .c-text{
        width: 80%;
    }
    .c-text h1{
        font-size: 60px;
        padding-bottom: 15%;
    }
    .c-imgs img{
        width: 30%;
    }
}

/* review section  */
.review{
    background-color: #39B54A;
    width: 100%;
    height: 105vh;
}

a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.testimonial-heading span{
    font-size: 1.3rem;
    color: green;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:400px){
    .review{
        height: 175vh;
    }
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}

/* contact section */
.contact{
    width: 100%;
    height: 140vh;
    padding-top: 5%;
}


.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


/* Contact Form Styling */
input, textarea, keygen, select, button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 70px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}


.section1 .shtext {
    color: green;
	display: block;
	margin-top: 20px;
}

.section1 h1 {
	font-size: 60px;
    padding-bottom: 5%;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}

/* footer section  */
.bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    text-decoration: none;
}

.footer-link a:hover {
    color: #1bbc9b;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    justify-content: center;
    display: flex;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.twitter {
    background-color: #55acee;
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}

@media only screen and (max-width: 768px) {
    .bg-footer{
        margin-top: 20%;
    }
}
