*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.logo{
    width: 30%;
}
.nav-link{
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    color: green;
}

/* home section  */
.home{
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../Assets/bg.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140vh;
    color: white;
}
.h-text{
    padding-top: 15%;
    padding-left: 12%;
    width: 70%;
}
.h-text h6{
    color: gray;
    font-weight: 700;
}
.h-text h1{
    font-size: 70px;
    padding-top: 1%;
    padding-bottom: 10%;
}
.h-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 4%;
}

.h-icons a{
    text-decoration: none;
}

.h-icons a i{
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: 20px;
    transition: all ease 1s;
}
.h-icons a i:hover{
    transform: rotate(360deg);
    background-color: white;
    color: black;
}

.h-last{
    position: absolute;
    top: 125%;
    right: 10%;
}

@media screen and (max-width:430px){
    
    .home{
        width: 100%;
        height: 100vh;
    }
    .h-text{
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 0;
        padding-top: 30%;
    }
    .h-text h1{
        font-size: 30px;
    }
    .h-icons{
        display: none;
    }
    .h-text a{
        width: 100%;
        margin-top: 10px;
    }
    .h-icons{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 75%;
        right: 7%;
    }
    .h-last{
        position: absolute;
        top: 90%;
        right: 10%;
    }
}

@media (min-width:430px) and (max-width:930px){
    
    .home{
        width: 100%;
        height: 100vh;
    }
    .h-text{
        width: 80%;
        padding-top: 45%;
    }
    .h-text h1{
        font-size: 40px;
    }
    .h-last{
        position: absolute;
        top: 90%;
        right: 10%;
    }
    
    
}